<div class="forest-wrapper">
	<h2> <%= "#{@tree.name}" %> </h2>
	<h3>  part of the
	<%= link_to(@tree.forest.name, forest_path(@tree.forest)) %>
	forest
	</h3>
	<div class="row">
		<% @tree.images.each do |image| %>
			<div class="tree-tile">
				<%= image_tag image.source %>
			</div>
		<% end %>
	</div>
	<div class="row tree-description">
		<div class="col-md-8"><%= @tree.description %></div>
	</div>
</div>