<div class="landing-wrapper">
  <h1>TreeHuggr</h1>
  <p>Get to know our native species a little better.</p>
  <img class="landing-logo" src="http://i.imgur.com/hHODVVY.png" alt="Tree Hugger Logo"/>
  <a type="/users/sign_in" class="btn btn-default">Log In</a>
  <a href="/users/sign_up" class="btn btn-default" >Sign Up</a>
</div>