#jumbo-header{
/*background-color: #731E1E;*/
background: url("/assets/hugging-tree.jpg") no-repeat center center;
background-size:cover;
}

#jumbo-header-text{
padding-left: 30px;
}

.thirty-px-left{
padding-left: 30px;
}


.tree-badge-svg-alone{
    width: 50px;
    height: 50px;
    fill: #3c763d;
  }

  .fa{
    color: #3c763d;
  }

  .ten-top-margin{
      margin-top: 10px;
  }