#jumbo-header{
/*background-color: #731E1E;*/
// background: url("/assets/hugging-tree.jpg") no-repeat center center;
// background-size:cover;
}

#jumbo-description{
	margin: 0;
	background: transparent;
}

#jumbo-steps{
	padding-bottom: 8em;
	background: url("/assets/whitey.png");
	margin-bottom: 0;
}
#jumbo-header-text{
padding-left: 30px;
}

.thirty-px-left{
padding-left: 30px;
}


.tree-badge-svg-alone{
    width: 50px;
    height: 50px;
    fill: #3c763d;
  }

.fa{
  color: #3c763d;
}

.ten-top-margin{
  margin-top: 1.5em;
  padding: .5em 3em;
  font-size: 2em;
}

.search-form{
	padding: 1em;
	background: rgba(204, 204, 204, 0.52);
}
