#jumbo-header{
/*background-color: #731E1E;*/
background: url("/assets/hugging-tree.jpg") no-repeat center center;
background-size:cover;
}

#jumbo-header-text{
padding-left: 30px;
}

.thirty-px-left{
padding-left: 30px;
}