<div class="forest-wrapper">


<% if @badges.count == 5 %>
  <div id="badge-success" class="row">
    <h3>You have <span class="logo-font text-success">Hugged</span> all the trees!</h3>
  </div>
<%  end  %>


  <h2><%= @forest.name %></h2>
  <p><%= @forest.description %></p>
  <div id="forest-tree" class="row">
    <%= render @trees %>
  </div>
</div>
